@model Racetrack.Models.GameSettingsModel
@{
	ViewBag.Title = "GameSettings";
}

<h3>Set your game</h3>
<div class="form-group">
	@using (Html.BeginForm("WaitForConnection", "Game", FormMethod.Post)) {
		<div class="row" style="margin-top:5px">
			<div class="col-md-8">
				@Html.DropDownListFor(m => m.Map, new SelectList(ViewBag.Maps), "Select Map", new { style = "width:270px;" })
				@Html.DropDownListFor(m => m.WithAI, new SelectList(new List<SelectListItem>() {
					new SelectListItem() {Text = "With AI", Value = "true"},
					new SelectListItem() {Text = "With Players", Value = "false" }
				}, "Value", "Text"), new { style = "width:150px;" })

			</div>
		</div>
		<div class="row" style="margin-top:12px">
			<div class="col-md-8">
				<input type="submit" value="Seach game!" class="btn btn-primary" />
			</div>
		</div>
	}
</div>
