@{
	ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
	<b>Racetrack</b> is a paper and pencil game that simulates a car race, played by two or more players.
	The game is played on a squared sheet of paper, with a pencil line tracking each car's movement.
</p>