@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Racetrack</h1>
    <p class="lead"><b>Racetrack</b> is a paper and pencil game that simulates a car race, played by two or more players. 
        The game is played on a squared sheet of paper, with a pencil line tracking each car's movement.
    </p>
    <p>
        The rules for moving represent a car with a certain inertia and physical limits on traction, and the resulting line is reminiscent of how real racing cars move. 
        The game requires players to slow down before bends in the track, and requires some foresight and planning for successful play.
    </p>
    <p>
        <a href="@Url.Action("Index", "Game" )" class="btn btn-primary btn-lg">Start Game!</a>
    </p>
</div>